.mainPostContainer {
  flex: 3.5;

}

/* Feed.css */

.feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Space between cards */
  padding: 20px;
  /* Padding around the feed */
  width: 70%;
  margin-left: 30px;
  margin-top: 50px;
  flex: 3.5;
  align-items: center;
  margin-right: 150px;


}

.feed-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
 }
 
 .post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #f9f9f9;
  position: relative;
 }
 
 .post-card h2 {
  color: red;
  font-weight: bold;
 }
 
 .post-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  overflow: hidden;
 }
 
 .post-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
 }
 
 .post-card button {
  margin-top: 10px;
 }
 
 .post-card .icon-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
 }
 
 .post-card .icon-buttons .MuiIconButton-root {
  width: 24px;
  height: 24px;
  margin: 0 5px;
 }
 
 .post-card .comment-button {
  position: absolute;
  bottom: 0;
  left: 0;
 }
 
 .post-card .delete-button {
  position: absolute;
  bottom: 0;
  right: 0;
 }

 .post-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
 }
 
  
 @media (max-width: 600px) {
  .post-card button {
    font-size: 1.5em;
  }
 }
 