.nav-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  padding: 5px;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-left__ul {
  display: flex;
  align-items: center;
}
.nav-left li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2em;
}

.nav-right {
  display: flex;
  align-items: center;
  padding: 5px;
}
.nav-right ul {
  display: flex;
  align-items: center;
}
.nav-right li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2em;
}

.nav-button {
  background-color: #eb6825;
  color: #fff;
  font-weight: 10px;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  cursor: pointer;
  font-size: 15px;
  transition: 200ms ease-in-out;
}
/* button hover styles */
.nav-button:hover {
  background-color: #ce4806;
  transition: 200ms ease-in-out;
}
